<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/javascripts/rainbow-custom.min.js"></script>
  <link href="/stylesheets/css/rainbow.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/readStyle.css">
</head>

<body>
  <div id="main">
    <div id="nav">
      Shery CMS
    </div>
    <div id="editor">
        <%-data%>
    </div>
    <!-- <div id="footer">
      <div id="credits">
        <p>This article is written by</p>
          <div id="img">
            <img src="" alt="">
            <p>Adarsh Gupta</p>
          </div>
        <div id="dets">
          <p>Updated: 5 Apr 2022 - 5 mins read - Published : 14 Sep 2021</p>
        </div>
      </div>
      <hr>
      <div id="options">
        <div id="like">
          <i class="ri-heart-line"></i>
          <p>66</p>
        </div>
        <div id="rating">
          <i class="ri-star-line"></i>
          <i class="ri-star-line"></i>
          <i class="ri-star-line"></i>
          <i class="ri-star-line"></i>
          <i class="ri-star-line"></i>
        </div>
        <i class="ri-bookmark-line"></i>
      </div>
      <button>Mark as Completed</button>
    </div> -->
  </div>
<script src="/javascripts/read.js"></script>
</body>

</html>